body{
    color: white;
    background-color: black;
    padding: 0px;
    margin: 0px;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}