.email{
    text-align: center;
}

.email input{
    width: 350px;
    padding: 15px;
    border: 1px solid #ffffff50;
    background-color: #00000065;
    color: white;
}

input::placeholder{
    color: #ffffff90;
}