footer{
    padding-left: 11% !important;
    padding-right: 15%;
    padding-top: 4%;
    padding-bottom: 4%;
    color: #b3b3b3;
}

table{
    width: 100%;
}

th{
    padding-bottom: 20px;
}

td{
    padding-bottom: 10px !important;
}

@media (max-width: 900px) {
    
    footer{
        font-size: 15px;
    }
}